<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<p>
  Bonjour,
</p>
<p>
</p>
  Vous pouvez mettre à jour votre mot de passe à <%= link_to "cette addresse", new_recover_password_url(recovery_token: @reset_token) %>
<p>
  Si vous n'avez pas demandé à modifier votre mot de passe vous pouvez ignorer cet email.
</p>
<p>
  L’équipe 1Job1Passion
</p>
</body>
</html>
